<div class="footer">
    <div class="contact">
      <p>
        <a href="http://www.google.com/search?hl=en&q=Shay+Banon&btnG=Google+Search" title="google me" rel="alternate" type="application/rss+xml">
          <img src="/images/shaybanon.jpeg" alt="" align="middle"/>
        </a>
      </p>
    
    </div>
    <div class="contact">
      <strong>Subscribe: </strong>
      <a href="http://feeds.feedburner.com/kimchyblog" rel="alternate" type="application/atom+xml">Atom Feed</a>
      <br />
      <strong>Email: </strong> kimchy@gmail.com
      <br />
      <strong>Hacking: </strong><a href="http://github.com/kimchy/">github.com/kimchy</a>
      <br />
      <strong>Tweeting: </strong> <a href="http://twitter.com/kimchy/">twitter.com/kimchy</a>
      <br />
    </div>
 
    <div class="contact">
        <!-->
    <h2>Upcoming Talks</h2>
    <ul>
      <li>
      </li>
    </ul>
        -->
    </div>
 
  <!--     
    <div class="rss">
      <a href="http://feeds.feedburner.com/kimchyblog">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
 -->  
   </div>
 
  <div class="twitter">
    <div id="twitter_div">
      &copy; 2003-2010 Shay Banon
    </div>
  </div>
</div>