<div id="main-navigation">
  <div id="main-navigation-inner">
   <div class="contact">
     <ul>
      <li class="first"><a href="/">Home</a></li>
      <li class=""><a href="/archives/">Archives</a></li>
      <li class=""><a href="/articles/">Articles</a></li>
      <li class=""><a href="/projects/">Projects</a></li>
      <li class=""><a href="/talks/">Talks</a></li>
      <li class=""><a href="/resume/">Resume</a></li>
      <li class="last"><a href="/about/">About</a></li>
    </ul>
   </div>
  </div>
</div>

<p>&nbsp;</p> 
