<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Shay Banon" />
   <link href="http://feeds.feedburner.com/kimchyblog" rel="alternate" title="Shay Banon" type="application/atom+xml" />

   <link href="/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>

<body>

<div class="site">
  <div class="title">
    <a href="/">Shay Banon</a>
    <a class="extra" href="/">home</a>
    <div class="widget-search widget">
      <h3 class="widget-header">Search</h3>
      <div class="widget-content">
        <form action="http://www.google.com/cse" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="015916330381434336403:umqixwychog" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="31" />
            <input type="submit" name="sa" value="Search" />
          </div>
        </form>
        <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
      </div>
    </div>
  </div>

  {% include top_menu.html %}

  {{ content }}
  
  {% include footer.html %}

</div>

{% include scripts.html %}

</body>
</html>
