
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Shay Banon" />
   <link href="http://feeds.feedburner.com/grubbel" rel="alternate" title="Shay Banon" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>

<body>

<div class="site">
  <div class="title">
    <a href="/">Shay Banon</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  

  <!-- 
       <div id="related">
       <h2>Related Posts</h2>
       <ul class="posts">
       {% for post in site.related_posts limit:3 %}
       <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
       {% endfor %}
       </ul>
       </div>
  -->

  <div id="comments">
    <h3><a name="comments">Comments</a></h3>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/kimchy/embed.js"></script><noscript><a href="http://disqus.com/forums/kimchy/?url=ref">View the discussion thread.</a></noscript><!--<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>-->

  {% include footer.html %}


</div>

{% include scripts.html %}

</body>
</html>
